body{
    background-color: whitesmoke;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.app{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: black;
    padding: 40px;
    border-radius: 80px;
}

.twCard{
    display: flex;
    align-items: center;
    font-size: .8rem;
    justify-content: space-between;
}
.twCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}
.twCard-img{
    width: 52px;
    height: 52px;
    border-radius: 1000px;
}
.twCard-info{
    display: flex;
    flex-direction: column;
}
.twCard-name{
    color: rgb(179, 170, 170);
}
.twCard-user{
    opacity: .6;
    color: whitesmoke;
}
.twCard-btn{
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
    color:black;
    background-color: whitesmoke;
    transition: .3s ease background-color;
}
.twCard-btn:hover{
    background-color: rgb(105, 185, 158);
    color: whitesmoke;
}
.twCard-btn-isFolowing{
    color: black;
}
.twCard-btn-isFolowing:hover{
    background-color: rgb(209, 95, 95);
    color: whitesmoke;
}